@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('general.css');
@import url('container.css');
@import url('header.css');
@import url('about.css');

.what-i-do-section {
  /* border: 1px solid black; */

  margin-top: 140px;

  scroll-margin-top: 120px;
}

.what-i-do-header {
  text-align: center;
  margin-bottom: 80px;
}

.what-i-do-header .intro {
  font-size: 14px;
}

.what-i-do-header .title {
  font-size: 35px;
  font-weight: 500;
}

.what-i-do-description-container {
  /* border: 2px solid black; */
  
  border-radius: 15px;
  
  flex: 1;
}

.web-dev-icon {
  width: 60px;
}

.what-i-do-description-container .title-container {
  display: flex;
  align-items: flex-end;

  column-gap: 10px;
  margin-bottom: 20px;
}

.what-i-do-description-container .title-container p {
  font-size: 40px;
  font-weight: 700;
}

.what-i-do-description-container .description {
  text-align: justify;
  line-height: 1.6;
}

@media only screen and (max-width: 600px) {
  .what-i-do-description-container {
    padding-inline: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .what-i-do-description-container {
    padding-inline: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .what-i-do-description-container {
    padding-inline: 100px;
  }
}

@media only screen and (min-width: 992px) {
  .what-i-do-description-container {
    padding-inline: 150px;
  }
}